@{
    ViewData["Title"] = "Create Group";
}

<h2>Create new group</h2>

<form asp-action="CreateGroup" method="post">
    <div class="form-group">
        <label for="name">Group name:</label>
        <input type="text" class="form-control" id="groupName" name="name" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create group</button>
</form>