<div class="text-center">
    <a asp-controller="Profile" asp-action="SelectTags">Twoje grupy</a>
</div>
<div class="text-center">
    <a asp-controller="Profile" asp-action="Notifications">Szukaj grup</a>
</div>