<div class="text-center">
    <a asp-controller="Group" asp-action="ShowUserGroups">Twoje grupy</a>
</div>
<div class="text-center">
    <a asp-controller="Group" asp-action="ShowAvailableGroups">Szukaj grup</a>
</div>
<div class="text-center">
    <a asp-controller="Group" asp-action="CreateGroup">Stwórz Grupe</a>
</div>