<div class="text-center">
    <a asp-controller="Group" asp-action="ShowUserGroups">Your groups</a>
</div>
<div class="text-center">
    <a asp-controller="Group" asp-action="ShowAvailableGroups">Search for groups</a>
</div>
<div class="text-center">
    <a asp-controller="Group" asp-action="CreateGroup">Create Group</a>
</div>