<form asp-action="EditAvatar" asp-controller="Profile" method="post" enctype="multipart/form-data">
    <input type="file" name="AvatarFile" class="form-control" accept="image/*" />
    <div class="padding">
        <button type="submit" class="save">Save</button>
    </div>
</form>

<style>
    .padding
    {
        padding: 10px 0px;
    }

    .save
    {
        background: linear-gradient(135deg, #552459, #ae2eb8);
        color: white;
        text-align: center;
        padding: 10px 10px;
        border-radius: 15px;
        width: 100px;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

        .save:hover
        {
            transform: translateY(-5px);
            box-shadow: 0 12px 25px rgba(0,0,0,0.25);
        }
</style>