@model INZYNIERKA.ViewModels.SelectTagsViewModel

<h2 class="mb-4">Choose your tags</h2>

<form asp-action="SelectTags" method="post">
    <div class="mb-3">
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            <div class="form-check">
                <input asp-for="Tags[i].IsSelected" class="form-check-input" />
                <input type="hidden" asp-for="Tags[i].TagId" />
                <label asp-for="Tags[i].IsSelected" class="form-check-label">@Model.Tags[i].TagName</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<a asp-action="AddTag" class="btn btn-outline-primary" title="Dodaj Tag" data-bs-toggle="tooltipp"><i class="bi bi-pencil-square"></i> Dodaj Tag</a>