@model List<INZYNIERKA.Models.Tag>

@{
    ViewData["Title"] = "List of Tags";
}

<h2>Tag list</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <td>@tag.Name</td>
            </tr>
        }
    </tbody>
</table>